<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	<%= connectionstrings %>
  </connectionStrings>
  <appSettings>
		<add key="user" value="<%= user %>" />
		<add key="password" value="<%= password %>" />
		<add key="iqt_username" value="<%= iqt_username %>" />
		<add key="iqt_password" value="<%= iqt_password %>!" />
		<add key="inspectionimagespath" value="<%= inspectionimagespath %>"/>
		<add key="AllowTempGenerations" value="<%= allowtempgenerations %>" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
   <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="<%= multiplesitebindingsenabled %>" />
    <services>
      <%= services %>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <%= servicebehaviors %>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <%= bindings %>
      </wsHttpBinding>	  	
    </bindings>
	
	 <client>
        <%= endpoint %>
      </client>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  
</configuration>