<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	<add name="InspectionContext" 
providerName="System.Data.SqlClient" 
connectionString="Data Source=SEPITAB01;Initial Catalog=IQT_Inspections;UID=dbWebUser;Password=kPCDr0Xcl9lkFFGOHdZ5;Trusted_Connection=false;MultipleActiveResultSets=True;" />

<add name="MaintenanceContext" 
providerName="System.Data.SqlClient" 
connectionString="Data Source=SEPITAB01;Initial Catalog=IQT_Maintenance;UID=dbWebUser;Password=kPCDr0Xcl9lkFFGOHdZ5;Trusted_Connection=false;MultipleActiveResultSets=True;" />

  </connectionStrings>
  <appSettings>
		<add key="user" value="tuser.ow" />
		<add key="password" value="tuser1" />
		<add key="iqt_username" value="iqt_user" />
		<add key="iqt_password" value="Tablet79!!" />
		<add key="inspectionimagespath" value="C:\www\IQT\Images\"/>
		<add key="AllowTempGenerations" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
   <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="Interfleet.SE.ESB.Services.GeneralServiceBehavior" name="Interfleet.IQT.Services.InspectionService">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="Interfleet.IQT.Services.InspectionService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
</service>

<service behaviorConfiguration="Interfleet.SE.ESB.Services.GeneralServiceBehavior" name="Interfleet.IQT.Services.IntegrationService">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="Interfleet.IQT.Services.IntegrationService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
</service>

<service behaviorConfiguration="Interfleet.SE.ESB.Services.GeneralServiceBehavior" name="Interfleet.IQT.Services.MaintenanceService">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="Interfleet.IQT.Services.MaintenanceService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
</service>

<service behaviorConfiguration="Interfleet.SE.ESB.Services.GeneralServiceBehavior" name="Interfleet.IQT.Services.ReportService">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="Interfleet.IQT.Services.ReportService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
</service>

<service behaviorConfiguration="Interfleet.SE.ESB.Services.GeneralServiceBehavior" name="Interfleet.IQT.Services.InspectionProjectService">
    <endpoint address="" binding="wsHttpBinding" bindingConfiguration="TransportSecurity" contract="Interfleet.IQT.Services.InspectionProjectService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
</service>

    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Interfleet.SE.ESB.Services.GeneralServiceBehavior">
      <dataContractSerializer maxItemsInObjectGraph="355360" />
      <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" httpsGetUrl="" />
      <serviceDebug includeExceptionDetailInFaults="true" />
</behavior>

      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="TransportSecurity" closeTimeout="00:01:00"
			openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
			maxBufferPoolSize="2000000" maxReceivedMessageSize="2000000"
			messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
<readerQuotas maxDepth="2000000" maxStringContentLength="2000000" maxArrayLength="2000000"
  			maxBytesPerRead="2000000" maxNameTableCharCount="2000000" />
    	<security mode="Transport">
        		<transport clientCredentialType="None" />
    	</security>
</binding>

<binding name="WSHttpBinding_IReportedDefects" maxReceivedMessageSize="200000000" maxBufferPoolSize="200000000">
        <security mode="Transport" />
</binding>  

      </wsHttpBinding>	  	
    </bindings>
	
	 <client>
        <endpoint address="https://test-services-new.interfleet.se/ReportedDefects.svc" binding="wsHttpBinding"
      bindingConfiguration="WSHttpBinding_IReportedDefects" contract="ESB.ReportedDefects.IReportedDefects"
      name="WSHttpBinding_IReportedDefects">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
      </client>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  
</configuration>